SERVER_TYPE=http
SERVER_PORT=8080
SERVER_URL=http://localhost:8080

AUTHENTICATION_API_KEY=change-me-now
AUTHENTICATION_EXPOSE_IN_FETCH_INSTANCES=true

LANGUAGE=en
LOG_LEVEL=ERROR,WARN,INFO,LOG
LOG_COLOR=true
LOG_BAILEYS=error

DATABASE_ENABLED=false
CACHE_REDIS_ENABLED=false
CACHE_LOCAL_ENABLED=true

CONFIG_SESSION_PHONE_NAME=Chrome
CONFIG_SESSION_PHONE_CLIENT=Church Scheduler
QRCODE_LIMIT=30
